body {
  background: #353f5a;
}
.container {
  max-width: 400px;
}
.search i {
  position: absolute;
}
.search {
  position: relative;
}
.icon {
  padding: 10px;
  left: 0;
}
.input-field {
  text-align: center;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  max-width: 400px;
}
.todos li {
  background: #423a6f;
}
.delete {
  cursor: pointer;
}


.filtered{
  display: none !important;
}